* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text {
  font-size: 64;
  font-family: "volkihon";
  padding-top: 50px;
}
.About {
  font-size: 70;
  font-weight: bold;
  font-family: "inika";
  padding-left: 20px;
  padding-top: 20px;
}
.test {
  width: 800px;
  height: 518px;
  font-size: 32;
  opacity: 0.7;
  margin-left: 20px;
  margin-top: 20px;
}
.About-img {
  width: 500px;
  height: 742px;

  position: absolute;
  left: 840px;
  top: 250px;
}
.About-cards {
  padding-top: 100px;
}

.Subscribe-To-Our-Newsletter-info {
  margin-top: 420px;
  margin-bottom: 300px;
}
.Subscribe-To-Our-Newsletter-info h1 {
  margin-left: 400px;
  font-size: 46;
  font-family: "Volkhov";
  width: 631px;
  height: 59px;
}
.About-Services {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.Subscribe-To-Our-Newsletter-info p {
  font-family: "Popping";
  font-size: 14px;
  width: 600px;
  height: 52px;
  margin: auto;
}
.input-info {
  outline: none;
  border: none;
  background-color: #ffffff;
  width: 631px;
  height: 68px;
  margin-left: 330px;
  margin-top: 20px;
  display: block;
}
.input-info::placeholder {
  padding-left: 20px;
}
#img-info2 {
  width: 355px;
  height: 747px;
  position: absolute;

  top: 1300px;
}
#img-info {
  width: 355px;
  height: 747px;
  position: absolute;
  top: 1300px;
}
.button-info {
  outline: none;
  border: none;
  margin-left: 550px;
  background-color: #000000;
  width: 207px;
  height: 56px;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer-Social-media {
  text-align: center;
  font-size: 40;
  font-weight: bold;
  font-family: "inika";
}

.line {
  width: 90%;
  margin-left: 50px;
}

.footer2 {
  text-align: center;
  font-size: 10;
  font-weight: Mixed;
  font-family: "Open Sans";
}

.footer-icon i {
  font-size: 30px;
  margin: 10px;
}
@media screen and (max-width: 1024px) {
  .text-center {
    margin-top: 100px;
  }

  .About-img {
    display: none;
  }
  .test {
    width: 700px;
    height: 518px;
    font-size: 32;
    opacity: 0.7;
    margin-left: 20px;
    margin-top: 20px;
  }
  .Subscribe-To-Our-Newsletter {
    display: none;
  }

  .About-Services {
    margin-bottom: 110px;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 428px) {
  .About-Services {
    display: none;
    margin-bottom: 190px;
  }
}
@media screen and (max-width: 1280px) {
  #img-info2 {
    width: 300px;
    height: 747px;
    position: absolute;

    top: 1300px;
  }
  #img-info {
    width: 300px;
    height: 747px;
    position: absolute;
    top: 1300px;
  }

  .About-img {
    width: 400px;
    height: 742px;

    position: absolute;
    left: 840px;
    top: 250px;
  }
}
